[Unit]
Description = Epiaş Data Collector
After = network.target 
 
[Service]
Type = simple
ExecStart = usr/bin/python3 /home/data/main.py # Path to the script
Restart = on-failure 
RestartSec = 5
TimeoutStartSec = infinity
 
[Install]
WantedBy = multi-user.target 